<div class="content-fluid">
  <div id="details-wrapper">

    <div class="alert alert-danger" role="alert" ng-if="apierror">{{apierror}}</div>

    <div ng-if="details.id">

      <h2>{{details.origin | origin}} -&gt; {{details.host}}</h2>

      <h3>Abstract</h3>

      <p>
        On {{details.date_start | date: 'MMM d, y H:mm:ss'}} a
        {{details.method}} request was issued to {{details.host}} by
        {{details.origin | origin}}.
      </p>
      <p ng-if="details.content_length > 0">
        The request had a size of {{details.content_length | size}} and took
        {{details.time_taken | time}} to complete.
      <p>
      <p ng-if="details.content_length == 0">
        The request took {{details.time_taken | time}} to complete.
      <p>

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{details.method}}</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" value="{{details.url}}" onclick="this.select()">
          </div>
        </div>
        <div class="form-group" ng-if="details.content_length > 0">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <a class="btn btn-success" href="{{ '/download?type=res&id=' + details.id | api_request }}">Get response body</a>
          </div>
        </div>
      </form>

      <h3>
        <a class="btn btn-primary" href="{{ '/download?id=' + details.id + '&type=res&wire=t' | api_request }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
        Server response
      </h3>

      <dl class="dl-horizontal">
        <span ng-repeat="(header, values) in details.header.Header">
          <span ng-repeat="value in values">
            <dt>{{header}}</dt>
            <dd><code>{{value}}</code></dd>
          </span>
        </span>
      </dl>

      <h3>
        <a class="btn btn-primary" href="{{ '/download?id=' + details.id + '&type=req&wire=t' | api_request }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
        Client request
      </h3>

      <dl class="dl-horizontal">
        <span ng-repeat="(header, values) in details.request_header.Header">
          <span ng-repeat="value in values">
            <dt>{{header}}</dt>
            <dd><code>{{value}}</code></dd>
          </span>
        </span>
      </dl>
    </div>

  </div>
</div>
